@keyframes bg-pan {
    from {
        background-position: 0% center;
    }
    to {
        background-position: -200% center;
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes jump-triangle {
    20% {
        transform: translateY(0px) translateX(-50%);
    }
    50% {
        transform: translateY(-20px) translateX(-50%);
    }
    80% {
        transform: translateY(0px) translateX(-50%);
    }
}

@keyframes height-inc {
    from {
        height: 100px;
    }
    to {
        height: 100vh;
    }
}

@keyframes height-dec {
    from {
        height: 100vh;
    }
    to {
        height: 100px;
    }
}

.small-container {
    height: 100px;
    animation: height-dec 0.5s ease;
}

.big-container {
    height: 100vh;
    animation: height-inc 0.5s ease;
}


@keyframes font-size-inc {
    from {
        font-size: 50px;
    }
    to {
        font-size: 100px;
    }
}

@keyframes font-size-dec {
    from {
        font-size: 100px;
    }
    to {
        font-size: 50px;
    }
}

.big-title {
    font-size: 100px;
    animation: font-size-inc .5s ease;
}

.small-title {
    animation: font-size-dec .5s ease;
    font-size: 50px;
}
