@font-face {
    font-family: 'outfit';
    src: url('/assets/fonts/Outfit-VariableFont_wght.ttf');
}

html {
    font-family: 'outfit';
    scroll-behavior: smooth;
}

body {
    padding: 0px;
    background-color: rgb(24, 26, 26);
}

.home {
    height: 100vh;
}

.title-link {
    text-decoration: none;
}

.text-container {
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

.title-section {
    animation: fade-in 1.98s cubic-bezier(0.56, 0.44, 0.29, 1);
    filter: drop-shadow(0px 0px 8px #181a1a);
}

#title-section {
    width: auto;
}

.title-text {
    position: relative;
    animation: fade-in 1.98s cubic-bezier(0.56, 0.44, 0.29, 1);
    transition: all .5s ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    color: white;
    z-index: 2;
    margin-top: 0px;
    margin-left: 0px;
}

.title-rainbow {
    color: #00000000;
    background: linear-gradient(to right,
            rgb(241, 159, 241), #8341b3, #f19ff1);
    background-size: 200%;
    background-clip: text;
    white-space: nowrap;
    animation: bg-pan 3s linear infinite;
    animation: all 0.5s ease;
}

.rainbow-blur {
    position: fixed;
    filter: blur(20px);
    color: #00000000;
    background: linear-gradient(to right,
            rgb(241, 159, 241), #8341b3, rgb(241, 159, 241));
    background-clip: text;
    animation: bg-pan 3s linear infinite;
    background-size: 200%;
    font-weight: bold;
}

#scroll-triangle {
    filter: drop-shadow(0px 0px 20px #5f5f5f);

    animation: fade-in-triangle 10s cubic-bezier(0.56, 0.44, 0.29, 1), jump-triangle 4s ease-in-out infinite;
    transition: 0.8s;
    left: 50%;
    bottom: 80px;
    width: 0;
    height: 0;
    position: fixed;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-top: 25px solid gray;
    transform: translateX(-50%);
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

#triangle-container {
    position: fixed;
    align-items: center;
    width: 100vw;
    height: 120px;
    bottom: 0;
}

.example-text {
    align-items: center;
    display: flex;
    justify-content: center;
}